<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Orm.BlockchainExplorerModel.csdl|res://*/Orm.BlockchainExplorerModel.ssdl|res://*/Orm.BlockchainExplorerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=blockchain-explorer-test.database.windows.net;initial catalog=blockchain-Explorer-Test;user id=Lykkex;password=Lykke#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Network" value="Test" />
    <add key="SqlNinjaUrlMain" value="https://testnet-ninja.azurewebsites.net/" />
    <add key="SqlNinjaUrlTest" value="https://testnet-ninja.azurewebsites.net/" />
    <add key="CoinprismUrlMain" value="https://api.coinprism.com/v1/" />
    <add key="CoinprismUrlTest" value="https://testnet.api.coinprism.com/v1/" />
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=btcexplorertest;AccountKey=EyX1omvOCBR1xHGgEUdJA8qyw8hPMxev8RGeFiWh1vYnQkrq70FeUs0PTmWaIPNmt+PuIuqiJDfAKX8U6orr5g==" />

    <!-- NBitcoin Indexer Settings -->

    <!--Azure Storage account-->
    <add key="Azure.AccountName" value="testnetninja" />
    <!--Azure Storage account key-->
    <add key="Azure.Key" value="6P5i6wIyNWSlUwuHMAjKKrAq3ZwDdSHij5FwkRVPuLn3mpePZx38SFbcvYBM8clay28w+9s5auy7gK59OCgbNg==" />
    <!--Prefix used before container and azure table (alpha num, optional, ex : prod)-->
    <add key="StorageNamespace" value="" />
    <!-- Identifier for isolating checkpoints accross several indexer instances (default: default)-->
    <add key="CheckpointSetName" value="" />
    <!--main or test-->
    <add key="Bitcoin.Network" value="test" />
    <!--Connection to local node, only for mempool and current chain indexation (ex : localhost[:8333], if no port is specified, takes default one)-->
    <add key="Node" value="unused" />

    <!-- /End NBitcoin Indexer Settings -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>