
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"]</title>

<link rel="stylesheet" href="~/Content/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/Content/css/site.css" />
<link rel="stylesheet" href="~/Content/css/media.css" />
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />