@{
    ViewData["Title"] = "Address - ";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="container">
    <header class="top-nav-links clearfix">
        <h1>Address</h1>
    </header>

    <div class="page-content">




        <div class="row">
            <div class="col-md-7">
                <table class="table table-rounded ">
                    <tbody>
                        <tr>
                            <td class="no-wrap">Address</td>
                            <td class="expand-column">2N3PytDo7vQi1Nkf31BSG1QfvvvuwUtBeSj</td>
                        </tr>
                        <tr>
                            <td class="no-wrap">Total transactions</td>
                            <td class="expand-column">34</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="list-group-item clearfix section-header">
                        <h3 class="panel-title">Balance</h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <span class="currency-icon thumbnail dspl-icon">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                            <div class="details-left balance-left" >
                                <h4 class="list-group-item-heading">Bitcoin</h4>
                                <p class="list-group-item-text text-muted"></p>
                            </div>
                            <div class="details-right text-right">
                                <h4 class="list-group-item-heading">0.041765 BTC</h4>
                            </div>
                        </li>


                        <li class="list-group-item clearfix section-header"><h3 class="panel-title">Assets</h3></li>
                        <li class="list-group-item clearfix asset-list">
                            <div class="currency-icon thumbnail dspl-icon">
                                <span class="bg-primary">
                                    <i class="fa fa-money"></i>
                                </span>
                            </div>
                            <div class="details-left">
                                <h4 class="list-group-item-heading">TestExchangeICO</h4>
                                <p class="list-group-item-text text-muted"> Asset ID: oazRygDjVRRXdWWsjE3FdaZT1WzSswSQoW</p>
                            </div>
                            <div class="details-right">
                                <h4 class="list-group-item-heading amount">5,000,000 TstXCHGICO</h4>
                            </div>
                        </li>

                        <li class="list-group-item clearfix asset-list">
                            <div  class="currency-icon thumbnail dspl-icon">
                                <span class="bg-primary">
                                    <i class="fa fa-money"></i>
                                </span>
                            </div>
                            <div class="details-left">
                                <h4 class="list-group-item-heading">TestExchangeICO</h4>
                                <p class="list-group-item-text text-muted"> Asset ID: oazRygDjVRRXdWWsjE3FdaZT1WzSswSQoW</p>
                            </div>
                            <div class="details-right">
                                <h4 class="list-group-item-heading amount">5,000,000 TstXCHGICO</h4>
                            </div>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <hr>
        <h3 class="transactions-header">Transactions</h3>
        <div class="panel panel-default transaction-details tr-de-inner detal-tr-inner ">
            <div class="panel-heading">
                <h3 class="panel-title"><a style="color: #5FC2FA;" href="/transaction/47ee685696a67e51d45937711fbbf93ed0bedf01ff5b67484e0e453b3f6dbc64">47ee685696a67e51d45937711fbbf93ed0bedf01ff5b67484e0e453b3f6dbc64</a></h3>
            </div>


            <ul class="list-group">

                <li class="list-group-item clearfix intput-output-group-list-item">
                    <div class="intput-output-group">
                        <div class="icon dspl-icon">
                            <span class="currency-icon thumbnail">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                        </div>
                        <div class="inputs">
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,004152
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    mqjDY7zPfH7L5cU67MEF2CrposEUgu6Cca
                                </div>
                            </div>

                        </div>

                        <div class="outputs">
                            <div class="outputs-container">
                                <div class="center-chevron">
                                    <img src="/images/arrow.png">
                                </div>

                                <div class="address-item ">
                                    <div class="amount">
                                        0,004052
                                    </div>
                                    <div class="address">
                                        mqjDY7zPfH7L5cU67MEF2CrposEUgu6Cca
                                    </div>
                                </div>
                                <div class="address-item div-fees">
                                    <div class="amount">
                                        0,0001
                                    </div>
                                    <div class="address">
                                        Fees
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item clearfix intput-output-group-list-item assetBlock">
                    <div class="assetid">oazRygDjVRRXdWWsjE3FdaZT1WzSswSQoW</div>
                    <div class="intput-output-group">
                        <div class="icon dspl-icon">
                            <span class="currency-icon thumbnail">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                        </div>
                        <div class="inputs">
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,000006
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    mqjDY7zPfH7L5cU67MEF2CrposEUgu6Cca
                                </div>
                            </div>
                        </div>

                        <div class="outputs">
                            <div class="outputs-container">
                                <div class="center-chevron">
                                    <img src="/images/arrow.png">
                                </div>

                                <div class="address-item ">
                                    <div class="amount">
                                        0,000006
                                    </div>
                                    <div class="address">
                                        2N3PytDo7vQi1Nkf31BSG1QfvvvuwUtBeSj
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>


            </ul>

        </div>

        <div class="panel panel-danger transaction-details tr-de-inner detal-tr-inner ">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="/transaction/47ee685696a67e51d45937711fbbf93ed0bedf01ff5b67484e0e453b3f6dbc64">47ee685696a67e51d45937711fbbf93ed0bedf01ff5b67484e0e453b3f6dbc64</a></h3>
            </div>


            <ul class="list-group">

                <li class="list-group-item clearfix intput-output-group-list-item">
                    <div class="intput-output-group">
                        <div class="icon dspl-icon">
                            <span class="currency-icon thumbnail">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                        </div>
                        <div class="inputs">
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,0001
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    mkULFFogqAdTQvMkLxvp7QJB5oVjxGxxLg
                                </div>
                            </div>
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,0001
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    mkULFFogqAdTQvMkLxvp7QJB5oVjxGxxLg
                                </div>
                            </div>

                        </div>

                        <div class="outputs">
                            <div class="outputs-container">
                                <div class="center-chevron">
                                    <img src="/images/arrow.png">
                                </div>

                                <div class="address-item div-fees">
                                    <div class="amount">
                                        0,000125
                                    </div>
                                    <div class="address">
                                        Fees
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item clearfix intput-output-group-list-item assetBlock">
                    <div class="assetid">ocmVkVUHnrdSKASFWuHy6hxqTWFc9vdL9d</div>
                    <div class="intput-output-group">
                        <div class="icon dspl-icon">
                            <span class="currency-icon thumbnail">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                        </div>
                        <div class="inputs">
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,000027
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    2N2B14Rx8CsCvcPj3xUKkfpx14Zd5PAhGfs
                                </div>
                            </div>
                        </div>

                        <div class="outputs">
                            <div class="outputs-container">
                                <div class="center-chevron">
                                    <img src="/images/arrow.png">
                                </div>

                                <div class="address-item ">
                                    <div class="amount">
                                        0,000027
                                    </div>
                                    <div class="address">
                                        2N2B14Rx8CsCvcPj3xUKkfpx14Zd5PAhGfs
                                    </div>
                                </div>
                                <div class="address-item ">
                                    <div class="amount">
                                        0,000027
                                    </div>
                                    <div class="address">
                                        2N3PytDo7vQi1Nkf31BSG1QfvvvuwUtBeSj
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="list-group-item clearfix intput-output-group-list-item assetBlock">
                    <div class="assetid">oZTd8ZfoyRPkYFhbeLXvordpcpND2YpqPg</div>
                    <div class="intput-output-group">
                        <div class="icon dspl-icon">
                            <span class="currency-icon thumbnail">
                                <span class="bg-warning">
                                    <i class="fa fa-btc"></i>
                                </span>
                            </span>
                        </div>
                        <div class="inputs">
                            <div class="address-item ">
                                <div class="amount">
                                    - 0,000006
                                </div>
                                <div class="address">
                                    <i class="fa fa-lg fa-arrow-left displ-fa"></i>
                                    2N3PytDo7vQi1Nkf31BSG1QfvvvuwUtBeSj
                                </div>
                            </div>
                        </div>

                        <div class="outputs">
                            <div class="outputs-container">
                                <div class="center-chevron">
                                    <img src="/images/arrow.png">
                                </div>

                                <div class="address-item ">
                                    <div class="amount">
                                        0,000027
                                    </div>
                                    <div class="address">
                                        2N3PytDo7vQi1Nkf31BSG1QfvvvuwUtBeSj
                                    </div>
                                </div>
                                <div class="address-item ">
                                    <div class="amount">
                                        0,000027
                                    </div>
                                    <div class="address">
                                        2N2B14Rx8CsCvcPj3xUKkfpx14Zd5PAhGfs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>


            </ul>

        </div>
    </div>

</div>