
@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="container">
    <header class="top-nav-links clearfix">
        <h1>Not found</h1>
    </header>

    <div class="page-content">



        <div class="alert alert-danger top-page-alert">
            <i class="fa fa-exclamation-triangle icon-white"></i> <span>Sorry, we couldn't find the page you were looking for.</span>
        </div>

        <div style="width: 30%;margin: 0 auto;" class="error-image thumbnail">
            <img src="/Img/error.png">
        </div>
    </div>
    <div class="footer-push"></div>
</div>