
@{
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="container">
    <header class="top-nav-links clearfix">
        <h1>404 Not found</h1>
    </header>

    <div class="page-content">



        <div class="alert alert-danger top-page-alert">
            <i class="fa fa-exclamation-triangle icon-white"></i> <span>Sorry, we couldn't find the page you were looking for.</span>
        </div>


        <div class="text-center">
            <a asp-action="index" asp-controller="home"><img src="/images/logo.png"></a>
        </div>
        


    </div>
    <div class="footer-push"></div>
</div>