<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://blockchain-explorer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <CompileSource>False</CompileSource>
    <PublishDNXVersion />
    <UsePowerShell>False</UsePowerShell>
    <IncludeSymbols>False</IncludeSymbols>
    <Native>False</Native>
    <IgnoreDNXRuntime>False</IgnoreDNXRuntime>
    <MSDeployServiceURL>blockchain-explorer.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>blockchain-explorer</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$blockchain-explorer</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=blockchainexplorer.database.windows.net;Initial Catalog=BcExplorer;User ID=Lykkex;Password=kh7AsAs6scK;Application Name=EntityFramework" Name="Data Source=blockchainexplorer.database.windows.net;Initial Catalog=BcExplorer;User ID=Lykkex;Password=kh7AsAs6scK;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=blockchain-explorer-test.database.windows.net;Initial Catalog=blockchain-Explorer-Test;User ID=Lykkex;Password=Lykke#123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Orm.BlockchainExplorerModel.csdl|res://*/Orm.BlockchainExplorerModel.ssdl|res://*/Orm.BlockchainExplorerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=blockchain-explorer-test.database.windows.net;initial catalog=blockchain-Explorer-Test;user id=Lykkex;password=Lykke#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Orm.BlockchainExplorerModel.csdl|res://*/Orm.BlockchainExplorerModel.ssdl|res://*/Orm.BlockchainExplorerModel.msl;provider=System.Data.SqlClient;provider connection string="data source=blockchainexplorer.database.windows.net;initial catalog=BcExplorer;user id=Lykkex;password=kh7AsAs6scK;multipleactiveresultsets=True;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>